* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

img {
    width: 200px;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.section {
    padding: 0 7rem;
}

.hero__section {
    width: 100%;
    min-height: 110px;
}

.header__container {
    padding: 0 3rem;
    width: 100%;
    min-height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #FFF;


}

.nevigation__bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__menu {
    display: flex;
    justify-content: space-between;

}

.nav__item {
    padding: 0 2rem;
    font-size: 16px;
    font-weight: 500;
    color: black;
    font-family: 'Rubik', sans-serif;
}

.nav__item a:hover {
    color: #EC5B66;
}

.consultent__button {
    padding: 1.4rem 1.6rem;
    font-size: 14px;
    font-weight: 500;
    color: #FFF;
    background-color: #ec5b53;
    border-radius: 5px;
    border: none;
    /* outline: none; */
    display: inline-flex;
    cursor: pointer;
    letter-spacing: 1px;
    /* Dont Understand  */
    box-shadow: inset 0 0 0 0 #ec5b53;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

.landing__page {
    padding: 0 4rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: #CED0CF;

}

.text__item {
    width: 50%;
    margin-top: 7rem;
}

.landing__title {
    font-size: 25px;
    font-weight: 300;
    color: #ec5b53;
    font-family: 'Rubik', sans-serif;
}

.introduce__me {
    margin: 3rem 0;
}

.title__intro {
    font-size: 70px;
    font-weight: 700;
    color: #002d5b;
    font-family: 'Rufina', serif;
}

.landing__para {
    margin: 2rem 0;
    width: 700px;
    font-size: 17px;
    font-weight: 400;
    color: #464d65;
}

.landing__button {
    width: 350px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

.button__one {
    padding: 1.3rem 3rem;
    border-radius: 5px;
    background-color: #ec5b53;
    font-size: 14px;
    font-weight: 500;
    color: #FFF;
    display: inline-flex;
    cursor: pointer;
    overflow: hidden;
    letter-spacing: 1px;
    /* Dont Understand  */
    box-shadow: inset 0 0 0 0 #ec5b53;
    -webkit-transition: ease-in 0.5s;
    -moz-transition: ease-in 0.5s;
    transition: ease-in 0.5s;
}

.button__two {
    padding: 1.2rem 3rem;
    border: 1px solid #ec5b53;
    border-radius: 5px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    color: #464d65;
    display: inline-flex;
    cursor: pointer;
    letter-spacing: 1px;
    /* Dont Understand  */
    box-shadow: inset 0 0 0 0 #EC5B53;
    -webkit-transition: ease-in 0.4s;
    -moz-transition: ease-in 0.4s;
    transition: ease-in 0.4s;
}

.slide__down:hover {
    box-shadow: inset 0 100px 0 0 #EC5B53;
    color: #FFF;
}

.slide__right:hover {
    box-shadow: inset 250px 0 0 0 #e44239;
    color: #FFF;

}

.my__image {
    width: 600px;
    min-height: 400px;
    margin-right: 2rem;
    margin-top: 6rem;

}

.image__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exploring__section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.explore__me {
    width: 50%;
}

.explor__title {
    width: 450px;
    font-size: 30px;
    font-weight: 700;
    color: #000a2d;
    font-family: 'Rufina', serif;
}

.explore__para {
    width: 500px;
    padding: 1.5rem 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 2rem;
    color: #10285d;
}

.lest__contact {
    width: 50%;
    min-height: 250px;

}

.contact__title {
    width: 380px;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Rufina', serif;
}

.contact__button {
    margin-right: 4rem;
    margin-top: 3rem;
    padding: 1.4rem 3.5rem;
    font-size: 14px;
    font-weight: 500;
    color: #FFF;
    background-color: #ec5b53;
    border-radius: 5px;
    border: none;
    /* outline: none; */
    display: inline-flex;
    cursor: pointer;
    letter-spacing: 1px;
    /* Dont Understand  */
    box-shadow: inset 0 0 0 0 #ec5b53;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

.lest__talk {
    padding: 1rem 0;
    font-size: 20px;
    font-weight: 500;
    color: #464d65;
}

.mail__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.gmail {
    display: flex;
}

.mail {
    width: 70px;
    font-size: 35px;
    font-weight: 500;
    color: #000a2d;
    border-bottom: 4px solid #000a2d;
}

.mail__symbol {
    width: 30px;
    font-size: 35px;
    font-weight: 500;
    color: #000a2d;
}

.mail__domain {
    width: 210px;
    font-size: 35px;
    font-weight: 500;
    color: #000a2d;
    border-bottom: 4px solid #000a2d;
}

.mail__icon {
    margin-right: 4rem;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    border-bottom: 7px double #000a2d;
}

.services__title {
    padding: 0 3rem;
    width: 650px;
    font-size: 48px;
    font-weight: 600;
    color: #000a2d;
    font-family: 'Rufina', serif;

}

.services__item__section {
    width: 100%;
    min-height: 100vh;
    /* padding-top: 4rem; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.services__container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.services__container .services__item {
    width: 400px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: 3px solid #EEE;
    color: #000A2D;
    border-radius: 10px;

    box-shadow: inset 0 0 0 0 #FF3D1C;
    -webkit-transition: ease-in-out 0.8s;
    -moz-transition: ease-in-out 0.8s;
    transition: ease-in-out 0.8s;
}

.services__container .services__item:hover {
    box-shadow: inset 0 500px 0 0 #FF3D1C;
    color: #FFF;
}

.services__item h5 {
    padding: 2rem;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Rufina', serif;
}

.services__container .services__item .pen__icon {
    position: relative;
    width: 120px;
    height: 120px;
    font-size: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff4f4;
    color: #ec5b53;
}

.services__container .services__item:hover {
    box-shadow: 0 0 0 0 500px #e44239;
    color: #FFF;
    /* background-color: #e44239; */
}

.services__pera {
    padding: 0 2rem;
    font-size: 16px;
    font-weight: 400;
}

.section__services__area {
    display: flex;
    justify-content: space-between;
}

.services__navbar {
    display: flex;
    /* justify-content: center; */
    align-items: end;
}

.nav {
    padding: 1.5rem;
    margin-left: 1rem;
    font-size: 16px;
    font-weight: 500;
    color: #161e46;
    border-bottom: 3px solid #E7EBF2;

}

.nav:hover {
    border-bottom: 3px solid #EB5B53;
}

/* .nav__one {
    color: #161e46;
    border-bottom: 3px solid #EB5B53;
} */
.image__section {
    width: 100%;
    min-height: 100vh;
}

.illustration__image {
    padding-top: 3rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.col__container__one {
    width: 60%;
    width: 100%;
}

.col__img__one {
    width: 850px;
    height: 900px;
}

.col__img__one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.col__container__two {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col__img__two {
    width: 400px;
    height: 430px;
}

.col__img__two img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col__img__three {
    width: 400px;
    height: 430px;
}

.col__img__three img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col__container__three {
    padding: 2rem 0;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.col__four__img {
    width: 400px;
    height: 375px;
}

.col__four__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col__five__img {
    width: 400px;
    height: 375px;
}

.col__five__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col__six__img {
    width: 400px;
    height: 375px;
}

.col__six__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact__section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact__container {
    padding: 0 5rem;
    width: 100%;
    min-height: 65vh;
    background-color: #FEF8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.contact__title {
    width: 530px;
    color: #000A2D;
    line-height: 5rem;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Rufina', serif;
}


.feedback__section {
    width: 100%;
    min-height: 100vh;
}

.feedback__title__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback__title {
    padding: 3rem 0;
    width: 600px;
    font-size: 48px;
    font-weight: 600;
    font-family: 'Rufina', serif;
}

.feedback__icon {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow__icon .bx {
   
    padding:  8px;
    margin: 0 5px;
    font-size: 30px;
    font-weight: 200;
    border: 2px solid #eaeaea;
    border-radius: 50%;
    color: #FF795F;
    cursor: pointer;
}

.feedback {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.feedback__container {
    width: 400px;
    min-height: 350px;
    border-radius: 5px;
    border: 3px solid #EEE;
}

.fedback__item {
    margin: 2rem 0;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.feedback__img {
    width: 80px;
    height: 80px;
}

.feedback__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feedback__details {
    margin-left: 2rem;
}

.user__name {
    font-size: 18px;
    font-weight: 600;
    color: #ec5b53;
    font-family: 'Rufina', serif;
}

.user__profession {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #57667e;
    font-family: 'Rubik', sans-serif;
}

.feedback__para {
    padding: 0 2rem;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    color: #10285d;
    line-height: 2rem;

}

.image__logo__section {
    width: 100%;
    min-height: 80vh;
}

.logo__container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.contact__info__area {
    width: 100%;
    min-height: 80vh;
    background-color: #FFFAFB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.form__text__container {
    width: 50%;
}

.from__text {
    /* margin: 2rem 0; */
    font-size: 48px;
    font-weight: 600;
    font-family: 'Rufina', serif;
    color: #000a2d;
}

.from__para {
    margin: 3rem 0;
    width: 500px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    color: #10285d;
    line-height: 2rem;
}

.form__submit {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputa__name {
    width: 480px;
    height: 65px;
    padding: 1rem;
    /* margin: 2rem; */
    font-size: 16px0;
    font-weight: 500;
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    border: none;
    outline: none;
}

.input__email {
    width: 480px;
    height: 65px;
    padding: 1rem;
    margin: 2rem;
    font-size: 16px0;
    font-weight: 500;
    background-color: #FFF;
    font-family: 'Rubik', sans-serif;
    border: none;
    outline: none;
}

.text__message {
    padding: 2rem 1rem;
    width: 480px;
    height: 100px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    color: #9D9EAD;
    background-color: #FFF;
    line-height: 2rem;
    border: none;
    outline: none;

}

.send__button {
    margin-top: 2rem;
    width: 480px;
    height: 65px;
    font-size: 16px;
    font-weight: 400;
    line-height: 2rem;
    border: none;
    color: #FFF;
    background-color: #EC5B53;
}

.footer__section {
    width: 100%;
    min-height: 100vh;
    background-color: #080827;
}

.footer__container {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer__email {
    margin: 2rem 0;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

.footer__email a {
    color: #FFF;
}

.footer__address {
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 400;
    color: #c5c5dd;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.copyright {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
    color: #393a50;
}

.copyright a {
    color: #ec5b53;
}

.icon__container {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon__title {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    color: #848493;
}

.icon__title:hover {
    color: #FFFF;
}

.icons__item {
    display: flex;
    align-items: center;
}

.foort__icon .bx {
    padding-left: 1rem;
    font-size: 20px;
    font-weight: 400;
    color: #848493;
    cursor: pointer;
}

.foort__icon .bx:hover {
    color: #FFFF;
}

/* About Page  */
.about__container {
    width: 100%;
    min-height: 100vh;
}

.text__container {
    padding: 0 3rem;
    width: 100%;
    min-height: 60vh;
    background-color: #E1E4E7;
    overflow: hidden;
}

.about__title {
    width: 500px;
    height: 100px;
    padding: 4rem 0;
    font-size: 70px;
    font-weight: 900;
    color: #000a2d;
    font-family: 'Rufina', serif;
}

.about__and__home {
    width: 150px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.about__slash {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    color: #EB5B53;
}

.about__home a {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    color: #EB5B53;
}

/* Product Section  */
.product__section {
    width: 100%;
    min-height: 100vh;
}

.product__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product {
    width: 50%;

}

.image__product {
    width: 650px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.product__text__area {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product__title {
    width: 450px;
    font-size: 48px;
    font-weight: 600;
    font-family: 'Rufina', serif;
    color: #000a2d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product__para {
    margin: 2rem 0;
    width: 450px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    line-height: 2rem;
    color: #10285d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small__title {
    width: 450px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Rufina', serif;
    color: #000a2d;
}

/* Contact Page  */
.map__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Get In touch  */
.get__in__touch__section {
    margin-top: 4rem;
    width: 100%;
    min-height: 100vh;
}

.get__container {
    width: 100%;
    display: flex;
    /* align-items: center; */
}

.get__in__touch {
    width: 70%;
}

.get__title {
    margin: 2rem 0;
    font-size: 27px;
    font-weight: 600;
    font-family: 'Rufina', serif;
    color: #000a2d;
}

.get__in__form {
    width: 900px;
}

.enter__message {
    width: 100%;
    padding: 1rem 1rem;
    min-height: 200px;
    outline: none;
    border: 2px solid #CED0CF;
    font-size: 13px;
    font-weight: 300;
    color: #495057;
    font-family: 'Rubik', sans-serif;
}

.input {
    margin: 1.5rem 0;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input .name {
    padding: 1rem;
    width: 48%;
    height: 50px;
    outline: none;
    border: 2px solid #CED0CF;
    font-size: 13px;
    font-weight: 300;
    color: #495057;
    font-family: 'Rubik', sans-serif;
}

.input .email {
    padding: 1rem;
    width: 48%;
    height: 50px;
    outline: none;
    border: 2px solid #CED0CF;
    font-size: 13px;
    font-weight: 300;
    color: #495057;
    font-family: 'Rubik', sans-serif;
}

.get__in__form .subject {
    padding: 1rem;
    width: 100%;
    height: 50px;
    outline: none;
    border: 2px solid #CED0CF;
    font-size: 13px;
    font-weight: 300;
    color: #495057;
    font-family: 'Rubik', sans-serif;
}

.send__btn {
    margin-top: 2rem;
    padding: 1.5rem 3rem;
    border: 2px solid #e44239;
    display: inline-flex;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Rufina', serif;
    background-color: transparent;
    color: #e44239;
    letter-spacing: 5px;
    transition: 0.4s ease-in-out;

}

.send__btn:hover {
    background-color: #EC5B53;
    color: #FFFF;
}

.get__addres {
    margin: 4rem 0;
    width: 30%;

}

.home__address {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone__number {
    margin-right: 2.5rem;
}

.icon .bx {
    margin-right: 1rem;
    font-size: 40px;
    font-weight: 400;
    color: #8f9195;
}

.icon .bx-envelope {
    margin-left: 1rem;
}

.home__name {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Rufina', serif;
    line-height: 16px;
    color: #2a2a2a;

}

.address {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    color: #8a8a8a;

}